@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes type-writing {
  from {
    display: none;
  }
  to {
    display: inline;
  }
}

@keyframes type-caret {
  from, to { border-color: transparent }
  50% { border-color: currentColor; }
}
