---
import Layout from '@/layouts/base.astro';
import CommonTyping from '@/components/common/typing.astro';
---

<Layout title="Error: Page not found" description="Error: Page not found">
  <div class="w-full h-screen flex flex-col justify-center items-center">
    <div class="flex flex-col flex-wrap justify-center items-center">
      <p class="text-2xl text-center">404:</p>
      <h1 class="h-24 text-8xl w-full font-bold"><CommonTyping string="Error" /></h1>
      <div class="w-fit">
        <a href="/" class="p-2 px-3 mx-auto mt-8 inline-block border rounded border-neutral-300 dark:border-neutral-800 hover:bg-neutral-200 hover:dark:bg-neutral-800 transition">Back home</a>
      </div>
    </div>
  </div>
</Layout>
