---
import Layout from '@/layouts/base.astro';
import CommonTyping from '@/components/common/typing.astro';
---

<Layout title="Error: Page not found" description="Error: Page not found">
  <div class="w-full h-full">
    <p class="text-2xl">404:</p>
    <h1 class="h-24 text-8xl w-full font-bold"><CommonTyping string="Error" /></h1>
    <a href="/" class="p-2 px-3 mt-4 border rounded border-neutral-300 dark:border-neutral-800 hover:bg-neutral-100 hover:dark:bg-neutral-800 transition">Back home</a>
  </div>
</Layout>
