---
import Layout from '@/layouts/base.astro';
---

<Layout title="Portfolio: felixr" description="Portfolio website for various projects & employment history">
  <div>
    <h1>Portfolio</h1>
    <p>felixr</p>
  </div>
  <div>
    
  </div>
  <div>

  </div>
</Layout>
