---
import Layout from '@/layouts/base.astro';
import Filter from '@/components/common/filter.vue';
import { getCollection } from "astro:content"

const projects = (await getCollection("projects")).filter((post: any) => post.data.published);
const tags: string[] = [... new Set([...projects.map((post: any) => post.data.tags).flat()])];
---

<Layout title="Portfolio: Felix Rydberg" description="Portfolio website for various projects & employment history">
	<div class="pt-[212px]">
		<h1 class="text-4xl mb-8 ">Projects</h1>
		<p class="text-lg my-4">Here are some of the projects I've worked on. You can filter them by tags below.</p>
		<Filter client:load data={projects} tags={tags}  />
	</div>
</Layout>
 