---
import {getCollection, type CollectionEntry} from "astro:content";

type Props = {
  entry: CollectionEntry<"projects">
}

const { entry } = Astro.props;
const { collection } = entry;

// Get the next and prev entries (modulo to wrap index)
const items = (await getCollection("projects")).filter((post: any) => post.data.published)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
const index = items.findIndex(x => x.slug === entry.slug)
const prev = items[(index - 1 + items.length) % items.length]
const next = items[(index + 1) % items.length];

const links = [
  { title: "Previous", slug: prev.slug, name: prev.data.title },
  { title: "Next", slug: next.slug, name: next.data.title },

]
---

<div class="flex justify-center my-12 h-24 text-neutral-500 dark:text-neutral-400 text-md capitalize gap-4">
  {links.map(({ title, slug, name }, index) => (
    <div class="border border-neutral-300 w-64 dark:border-neutral-800 hover:bg-neutral-200 hover:dark:bg-neutral-800 rounded group transition-colors duration-200 ease-in-out">
      <a class="flex items-center h-full w-full p-4 justify-end" class:list={{'flex-row-reverse': index === 0}} href={`/${collection}/${slug}`}>
        <div class="flex flex-col justify-between h-full p-2">
          <span class="text-xs uppercase font-semibold" class:list={{'text-end': index === 1}}>{title}</span>
          <span class="text-md max-w-[116px] md:max-w-48 font-bold truncate" class:list={{'text-end': index === 1}}>{name}</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white" class:list={{'rotate-180': index === 0}}>
          <line x1="5" y1="12" x2="19" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-200 ease-in-out" />
          <polyline points="12 5 19 12 12 19" class="translate-x-0 group-hover:translate-x-1 transition-all duration-200 ease-in-out" />
        </svg>
      </a>
    </div>
  ))}
</div>
