---
import CommonHead from '@/components/common/head.astro';
import NavigationHeader from '@/components/navigation/header.astro';
import Container from '@/components/common/container.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
  size?: "sm" | "md" | "lg" | "xl" | "2xl" | "full",
}

const { title, description, image, size = "lg" } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-neutral-100 dark:bg-neutral-950">
	<head>
		<CommonHead title={title} description={description} image={image} />
	</head>
	<body class="min-h-screen h-full">
		<NavigationHeader />
		<Container size={size} tag="main" class="min-h-screen h-full">
			<slot />
		</Container>
		<footer class="border-t dark:border-neutral-800 h-64">
			<Container size="lg" class="flex items-center justify-between h-full text-neutral-600 dark:text-neutral-400">
				<div class="text-sm">
					<p>
						Built by <a href="https://github.com/felixrydberg" target="_blank">Felix Rydberg</a>
					</p>
					<p>Updated @ {new Date().toLocaleDateString()}</p>
				</div>
				<div>
					<p class="text-lg">Contacts</p>
					<ol class="pl-6 list-disc">
						<li><a href="mailto:felixryd@gmail.com">felixryd@gmail.com</a></li>
						<li><a href="tel:+46793138309">+46793138309</a></li>
						<li><a href="https://github.com/felixrydberg" target="_blank">Github</a></li>
					</ol>
				</div>
			</Container>
		</footer>
	</body>
</html>
